.pokedex__pd {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.welcome {
  margin-top: 35px;
  text-align: center;
}

.welcome__Text {
  font-weight: 700;
  font-size: 24px;
  color: red;
}

.welcome__P {
  font-weight: 500;
  font-size: 24px;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.input {
  width: 370px;
  height: 60px;
  left: 389px;
  top: 595px;
  /* border-color: white; */
  border-style: inherit;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.input::placeholder {
  color: #D3D3D3;
  font-size: 20px;
}


.btn {
  width: 150px;
  height: 63px;
  border-style: inherit;
  color: white;
  background: #D93F3F;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  font-size: 22px;

  cursor: pointer
}

.All {
  font-size: 18px;
  padding: 20px;
  width: 350px;
  height: 60px;
  left: 389px;
  top: 595px;
  color: #0F0F2D;
  border-style: inherit;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.list{}

.unlist {
  margin-top: 70px;
  margin-bottom: 60px;
  font-size: 25px;
  /* background-color: aqua; */
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  

}

.before {
  position: relative;
  width: 80px;
  height: 80px;
  
  color: white;
  background: #DD1A1A;
  border-radius: 6px;
  cursor: pointer;
}

.before__center{
  font-size: 22px;
  position: absolute;
  right: 30px;
  top: 25px;
}

.numbers{
  
  /* background-color: aqua; */
}

.after {
  position: relative;
  width: 80px;
  height: 80px;
  
  color: white;
  background: #DD1A1A;
  border-radius: 6px;
  cursor: pointer;
}

.after__center{
  font-size: 22px;
  position: absolute;
  right: 30px;
  top: 25px;
}